body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: "Raleway", sans-serif;
	background: #fbfbfb;
}

main {
	display: flex;
	flex: 1 0 auto;
	//align-content: center;
	align-items: center;
}