doctype html
html
	head
		title Wellopp
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='./css/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,300|PT+Sans', type="text/css")

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='./js/jquery.fullPage.js')

	body: #fullpage
		.full-section
			include sections/splash.jade

		.full-section
			include sections/products.jade
			include sections/description.jade

		.full-section
			include sections/testimonials.jade

		script(src='./js/easy-pie-chart.js')
		script(src='./js/skw-page.js')
		script(src='./js/particle-bg.js')
		script(src='./js/main.js')
		script(src='./js/jquery.flexslider-min.js')
		script(src='./js/masonry.pkgd.min.js')
