section(style='height: 50vh; width: 100%; background: #3D315B; position:relative')
	.container(style='padding-top: 80px')
		
		.skw-control
			a.btn-floating.btn-large.active
					i.material-icons tablet
			a.btn-floating.btn-large
					i.material-icons timeline
			a.btn-floating.btn-large
					i.material-icons question_answer
			a.btn-floating.btn-large
					i.material-icons card_giftcard

		h4(style='position: relative; z-index: 3') Wellopp collects, compares, and identifies vital risk data in order to distill it and make it actionable for all our clients.

			//div(style='position: absolute;top: 40px; left: 10px; font-size:300px; color: #4e3e74')
		//.center(style='color: #4e3e74')
			i.material-icons accessibility
			i.material-icons directions_bike
			i.material-icons directions_walk
			i.material-icons pregnant_woman
			i.material-icons directions_run
			i.material-icons accessible