// colors

$color-1: #2196F3; // charcoal
$color-2: #2196F3; // blue
$color-3: #dadee1; // light blue
$color-4: #ffffff; // white

$all-bg: #0b222c;
$close-color: #fff;
// fonts 

$primary-font: 'Helvetica Neue', sans-serif;
$secondary-font: 'Georgia', serif;